pyoxynet/models/*
!pyoxynet/models/.gitkeep

pyoxynet/pyoxynet/data_test/__pycache__

pyoxynet/pyoxynet/data_test/*.csv
!pyoxynet/pyoxynet/data_test/data_test.csv
!pyoxynet/pyoxynet/data_test/database_statistics.csv

pyoxynet.egg-info
dist
venv
pyoxynet/pyoxynet/__pycache__
app/__pycache__
.idea
*.pyc

docs/_build
docs/*
!docs/conf.py
!docs/index.rst
!docs/usage.rst
!docs/Makefile
