pyoxynet/models/*
!pyoxynet/models/.gitkeep

pyoxynet/pyoxynet/data_test/fake_tests/*
pyoxynet/pyoxynet/data_test/fake_tests/.gitkeep

pyoxynet.egg-info
dist
venv
pyoxynet/pyoxynet/__pycache__
app/__pycache__
.idea
*.pyc

docs/_build
docs/*
!docs/conf.py
!docs/index.rst
!docs/usage.rst
!docs/Makefile
