h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
form {text-align: center;}
container {text-align: center;}

.p1 {
  font-family: "Monaco";
}

input[type=button], input[type=submit], input[type=reset] {
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#submitINTERPRET{
  background-color: #51a1ff;
}

#submitPLAY{
  background-color: #08cf65;
}

#submitAGAIN{
  background-color: #08cf65;
}

#submitREAL{
  background-color: #08cf65;
}

#submitFALSE{
  background-color: #ff5521;
}

#submit_BACK_HOME{
  background-color: #08cf65;
}

.button_0 {border-radius: 4px;}
.button_1 {border-radius: 4px;}

.column {
  float: left;
  width: 33.3%;
}

@media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.custom-line {
  border-top: 2px solid black; /* Adjust thickness and color of the line */
  width: auto; /* Make the line span the width of the content */
  margin: 0 auto; /* Center the line horizontally */
}

.bottom-line {
  border-top: 1px solid #404040; /* Adjust thickness and color of the line */
  width: auto; /* Make the line span the width of the content */
  margin: 20px auto; /* Center the line horizontally */
}

@font-face {
  font-family: '3DAnimals';
  src: url('3DAnimals.ttf') format('truetype');
}

/* Apply the custom font to elements with the "big-e" class */
.big-e {
  font-family: '3DAnimals', sans-serif; /* Specify the custom font and fallback font */
  font-size: 300px; /* Adjust the font size as needed */
  text-align: center; /* Center the text horizontally */
  line-height: 1; /* Set line height to 1 to avoid extra spacing */
  margin-bottom: 0px;
}


