<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home Page</title>
</head>
<body>
<img src="static/logo_BW.png" style="width:200px;height:200px;" class="center">
<h3>🦆 CPET data generation powered by Oxynet and Pyoxynet 🤖</h3>
<p> <a href="www.oxynet.net">Oxynet website</a> ·  <a href="https://github.com/andreazignoli/pyoxynet">Pyoxynet code repository</a> </p>
<form method="post" action="/CPET_plot">
        <input type="submit" value="PLAY" name="play" id="submitPLAY" class="button_1"/>
</form>
</body>
</html>