<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home Page</title>
</head>
<body>
<img src="static/logo_BW.png" style="width:200px;height:200px;" class="center">

<p> Share 👉 Learn 👉 Improve 💡</p>
<p></p>
<p> <a href="http://oxynet.net/">Oxynet website</a> · <a href="https://github.com/andreazignoli/pyoxynet">Pyoxynet code repository</a> </p>
<hr class="bottom-line">

<h2>🦆 CPET data INTERPRETATION powered by Oxynet and Pyoxynet 🤖</h2>

<body>
    <h3>Upload a file and then click on "INTERPRET"</h3>
    <form action="/read_csv" method="post" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="file" id="fileInput">
        <input type="submit" value="INTERPRET" name="interpret" id="submitINTERPRET" class="button_0" onclick="showWaitMessage(event)"/>
        <p id="waitMessage" style="display: none; font-weight: bold; font-size: 20px;"> 🙏 PLEASE WAIT UNTIL COMPLETION 🚀 </p>
    </form>

    <script>
        function showWaitMessage(event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Hide the file input and submit button
            document.getElementById("fileInput").style.display = "none";
            document.getElementById("submitINTERPRET").style.display = "none";
            // Show the wait message
            document.getElementById("waitMessage").style.display = "block";
            // Submit the form after a delay (you can adjust the delay as needed)
            setTimeout(function() {
                document.getElementById("uploadForm").submit();
            }, 1000); // 1000 milliseconds = 1 second
        }
    </script>
</body>




<p></p>
<h3>🔨 How does this work? 🔧</h3>
<p></p>
<p class="p1"> You upload a cardiopulmonary 🫀 exercise test file </p>
<p class="p1"> A deep neural network is used to suggest you the ventilatory thresholds </p>
<p></p>
<p class="p1"> You can read more how the tests are interpreted <a href="https://medium.com/@andrea.zignoli/automatic-interpretation-of-cardiopulmonary-exercise-tests-with-deep-learning-2c9b3920ad51">here</a> </p>
<p></p>

<hr class="custom-line">

<h2>🦆 CPET data GENERATION powered by Oxynet and Pyoxynet 🤖</h2>

<form method="post" action="/CPET_plot">
        <input type="submit" value="PLAY" name="play" id="submitPLAY" class="button_1"/>
</form>
<p></p>
<h3>🔨 How does this work? 🔧</h3>
<p></p>
<p class="p1"> A cardiopulmonary exercise test is randomly generated OR drawn from our database </p>
<p class="p1"> You will be asked to say if the test is REAL 🫀 or FAKE 🤡</p>
<p class="p1"> A deep neural network is used to suggest you the ventilatory thresholds </p>
<p></p>
<p class="p1"> You can read more how the fake tests are generated <a href="https://medium.com/@andrea.zignoli/automatic-generation-of-cardiopulmonary-exercise-tests-with-deep-learning-d1f2cab4e765">here</a> </p>
<p></p>
</body>
</html>