<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home Page</title>
</head>
<body>
<img src="static/logo_BW.png" style="width:200px;height:200px;" class="center">
<h2>🦆 CPET data generation powered by Oxynet and Pyoxynet 🤖</h2>

<form method="post" action="/CPET_plot">
        <input type="submit" value="PLAY" name="play" id="submitPLAY" class="button_1"/>
</form>
<p></p>
<h3>🔨 How does this work? 🔧</h3>
<p></p>
<p class="p1"> A cardiopulmonary exercise test is randomly generated OR drawn from our database </p>
<p class="p1"> You will be asked to say if the test is REAL 🫀 or FAKE 🤡</p>
<p class="p1"> A deep neural network is used to suggest you the ventilatory thresholds </p>
<p></p>
<p class="p1"> You can read more how the fake tests are generated <a href="https://www.overleaf.com/read/fcmwscvyhtfq">here</a> </p>
<p class="p1"> You can read more about the current accuracy of the threshold detection algorithm <a href="https://rpubs.com/andrea_zignoli/oxynet_post_process_stats">here</a> </p>
<p></p>
<p> Share 👉 Learn 👉 Improve 💡</p>
<p></p>
<p> <a href="http://oxynet.net/">Oxynet website</a> · <a href="https://github.com/andreazignoli/pyoxynet">Pyoxynet code repository</a> </p>
</body>
</html>