<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from Oxynet</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>

<div class="row">
    <div class="column">
        <div class="chart" id="plot_VCO2vsVO2">
            <script>
                var graphs = {{VCO2vsVO2 | safe}};
                Plotly.plot('plot_VCO2vsVO2',graphs,{});
            </script>
        </div>
    </div>
    <div class="column">
        <div class="chart" id="plot_VEvsVCO2">
            <script>
                var graphs = {{VEvsVCO2 | safe}};
                Plotly.plot('plot_VEvsVCO2',graphs,{});
            </script>
        </div>
    </div>
    <div class="column">
        <div class="chart" id="plot_VEVO2">
            <script>
                var graphs = {{VEVO2 | safe}};
                Plotly.plot('plot_VEVO2',graphs,{});
            </script>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="chart" id="plot_PetO2">
            <script>
                var graphs = {{PetO2 | safe}};
                Plotly.plot('plot_PetO2',graphs,{});
            </script>
        </div>
    </div>
    <div class="column">
        <div class="chart" id="plot_PetCO2">
            <script>
                var graphs = {{PetCO2 | safe}};
                Plotly.plot('plot_PetCO2',graphs,{});
            </script>
        </div>
    </div>
    <div class="column">
        <div class="chart" id="plot_VEVCO2">
            <script>
                var graphs = {{VEVCO2 | safe}};
                Plotly.plot('plot_VEVCO2',graphs,{});
            </script>
        </div>
    </div>
</div>

</div>
</body>
</html>